{% extends 'base.html' %}

{% block title %}BBC News{% endblock %}

{% block content %}
  <h1 class="inter-semi-bold">Busca BBC News</h1>

  <form method="post">
    <input type="text" name="q" placeholder="Digite sua busca..." value="{{ query or '' }}">
    <button type="submit">Buscar</button>
  </form>

  {% if query %}
    <h2>Resultados para: "{{ query }}"</h2>
  {% endif %}

  {% if results_on_page %}

    <ul class="card-container">

      {% for r in results_on_page %}
        <li class="card {{ r.category }}">

          {% set icon = category_icons.get(r.category) %}

          {% if icon %}
            <img src="{{ url_for('static', filename=icon) }}" alt="{{ r.category }} icon" class="card-icon">
          {% endif %}

          <strong>{{ r.title }}</strong><br>
          <small>{{ r.snippet }}</small>
        </li>
      {% endfor %}

    </ul>

    {% if page > 1 %}
      <a href="{{ url_for('main.index', page=page-1) }}">Anterior</a>
    {% endif %}

    <span>Pagina {{page}} de {{total_pages}}</span>

    {% if page < total_pages %}
      <a href="{{ url_for('main.index', page=page+1) }}">Posterior</a>
    {% endif %}

  {% elif query %}
    <p>Nenhum resultado encontrado para "{{ query }}"</p>
  {% endif %}
  
{% endblock %}